language: go
go:
  - 1.13.4
  - tip
matrix:
  allow_failures:
    - go: tip

notifications:
  email:
    recipients: dean.karn@gmail.com
    on_success: change
    on_failure: always

before_install:
  - go get -u github.com/go-playground/overalls
  - go get -u github.com/mattn/goveralls

script:
  - make test
  - make lint

after_success: |
  [ $TRAVIS_GO_VERSION = 1.13.4 ] &&
  overalls -project="github.com/go-playground/log" -covermode=count -ignore=.git,examples -debug &&
  goveralls -coverprofile=overalls.coverprofile -service travis-ci -repotoken $COVERALLS_TOKEN